.title {
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;

  &__heading {
    margin-right: 26px;

    font-weight: 500;
    color: $c-light-gray;
    text-transform: uppercase;

    &--romantism {
      margin-right: 146px;
    }
  }

  &__date {
    font-weight: 700;
    color: $c-green;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .title {
    justify-content: space-between;

    &__heading {
      margin-right: 0;
    }
  }
}
